[2017-08-20 00:50] zambien opened #1 "Must apply twice if referencing revision of a proxy from a proxy deployment"
Right now if you rev your proxy bundle then apply your deployment will not update automatically if you reference that proxy rev (as in the example above).

To work around the issue you can apply twice:

`terraform apply && terraform apply`

Or manually change the revision number in a variable or in the script...

[code]
This is happening due to a known issue in Terraform that should be fixed soon:

[2017-08-20 01:10] zambien opened #2 "No acceptance tests"
Unacceptable!!!

Write some tests.

[2017-09-21 02:35] zambien commented on #2
Resolved in release version 0.0.6.

[2017-09-21 02:35] #2 closed

[2017-11-08 23:05] zambien opened #3 "Add Retry Logic to Client"
In some cases when requests timeout or are closed prematurely the terraform apply will error out.

Add retry logic in order to decrease these errors if on a spotty connection.

[2017-12-27 22:19] zambien opened #4 "State is removed if error occurs"
### Terraform Version
Any... recreated on terraform 0.11.1

### Affected Resource(s)
All resources

### Expected Behavior
If a connection error or some other error comes back from a resource read the state should be retained.

### Actual Behavior
The state is removed.  This is because only 404 errors should result in state being removed for the Apigee APIs.

[2017-12-27 22:47] #4 closed

[2017-12-29 19:54] zambien commented on #3
no longer neccesary with #4

[2017-12-29 19:54] #3 closed

[2018-01-02 13:13] zambien opened #7 "Allow URIs for bundle and bundle sha"
Bundles may be sourced externally so allow for a URI to be sourced instead of a local zip file.

* create bundle_uri input
* create bundle_sha input (optional?)

[2018-01-02 13:14] zambien opened #8 "Allow override of current revision"
Allow an update of a proxy/deployment via an override of the revision.  This is similar to what the Apigee UI does when you do a live update to a deployed proxy.  This may also be a workaround for #1.

[2018-02-01 06:21] Mistobaan opened #9 "the latest macosx release reports version 0.0.0 with terraform v0.11.2"
The latest macosx release reports version 0.0.0 with terraform v0.11.2 and is not enabled giving then the "apigee not found error"
[code]
[code]
[code]

[2018-02-01 09:24] zambien commented on #9
How is this issue affecting you?  Is the issue only that terraform is seeing an incorrect version number?

[2018-02-01 20:21] Mistobaan commented on #9
ha investigating a bit more I found the issue is in the name, terraform picks the last - as the name:

- NOT WORKING: `terraform-provider-apigee-v0.0.8_x4`
vs
- WORKING `terraform-provider-apigee_v0.0.8_x4`

maybe rename the release ?

[2018-02-02 00:28] zambien commented on #9
I notice you have a:

[code]
which is mixed with the dashes on the end of your filename..  That isn't how it is named in the release.
What happens if you just use:

terraform-provider-apigee-v0.0.8

I think that the above is the correct way.

[2018-02-02 02:40] Mistobaan commented on #9
@zambien I thought so too, but that is the standard suffix that the terraform adds when doing terraform init (not sure what it means).  I suspect something has changed in the logic that parses the name of the plugin and so the apigee plugin name is picked up as `apigee-v0.0.8` with no version

[2018-02-02 12:34] zambien commented on #9
Ok.  I found this issue on the terraform GH repo:

https://github.com/hashicorp/terraform/issues/16874

Do you have a .terraformrc file that is not matching?  That is what the issue reporter was seeing.

[2018-02-02 12:42] zambien commented on #9
@Mistobaan I updated the release binary file names.

Sorry for all the back and forth.... this is an odd issue because I don't have this problem on my Mac or when using Virtualbox running Ubuntu Linux.  I have been trying to recreate the issue but have not been successful.

[2018-02-04 00:32] Mistobaan commented on #9
Yeah is an annoying detail but that is the spec and seems that now is getting enforced.

from: https://www.terraform.io/docs/configuration/providers.html

I also have another plugin that does not have that exact naming and it reports `version=0.0.0`
see above reference.

[2018-02-04 00:41] Mistobaan opened #10 "Use goreleaser?"
https://github.com/goreleaser/goreleaser
https://goreleaser.com/

see other terraform plugin usage example:

https://github.com/ewilde/terraform-provider-runscope/blob/master/goreleaser.yml

[2018-02-04 00:59] zambien commented on #9
Good to know.  Thanks!

[2018-05-15 12:17] zambien commented on #9
The latest release has the proper naming conventions.  I had meant to close this but forgot.  Please let me know if you experience other issues and thanks for the contribution!

[2018-05-15 12:17] #9 closed

[2018-05-15 15:20] #10 closed, assigned to zambien

[2018-09-24 21:15] sjblacknz opened #18 "Ability to set a product's environments"
Hey there - minor feature request:

When creating a product (apigee_product resource) there isn't an option to specify the environments it's for.  This leads to a product being created with access to no environments.

I note that DinoChiesa/go-apigee-edge now has 'Environments' included in the product API but your fork doesn't have that yet.

Overall, this is an awesome library - such a good idea

[2018-09-26 01:39] sjblacknz commented on #18
I'm not sure how new it is - I'm relatively new to Apigee myself!

Where I work (a commercial bank), we have 'non-prod' products that can access the development and test environments, and then 'prod' products that can access production (I'm assuming for security reasons).  This is just a policy and the way things are done.  If I use this provider to create a product, it looks like this in Apigee (

[2018-09-26 01:46] sjblacknz commented on #18
Ahhhh... this explains why it works.  Not great from a security perspective though:

![capture](https://user-images.githubusercontent.com/12851681/46052443-97be0980-c192-11e8-921e-b6f032b30f4e.PNG)

[2018-09-26 14:30] zambien commented on #18
Got it.  I saw that too when looking at the doc. This must be new-ish because when I initially set this up I implemented all of the fields that were available.  Dino for some reason hasn't merged my PR and for some reason has re-implemented some of the same things.

https://github.com/DinoChiesa/go-apigee-edge/pull/4

Not sure what is going on there since I haven't had any feedback about the PR ot

[2018-09-26 23:10] sjblacknz commented on #18
That's great - thanks for your fast response.  This is an interesting project!

Basically here I'm trying to remove as many manual steps as possible for setting up Apigee, i.e. if we lost everything, how easy/fast would it be to stand everything back up again.  So far the combination of proxies/products/apps/developers covers the biggest part.

Other little manual things we currently do are adding

[2018-09-27 18:18] zambien commented on #18
Sounds good.  My current proxies don't need those as they are pretty simple.  Would love to see a PR or if you get into it and it is too much I may add these if you open an issue.  I see that Dino has implemented these in his repo so it shouldn't take too much effort so let me know either way.

I use this as part of my infrastructure provisioning.  We provision everything (everything-as-code) with

[2018-09-27 20:14] #18 closed

[2019-01-16 18:28] bridgetlane opened #21 "Import not supported?"
Hi! Thanks for writing this provider. I noticed importing state is not supported - are there any restrictions that have blocked this being implemented?

[2019-01-16 20:01] zambien commented on #21
Hello, @bridgetlane, nope I just haven't encountered a need to do so.  Could you elaborate on what you are trying to do with some code so that I can understand the issue more?  I found this:

https://www.bogotobogo.com/DevOps/Terraform/Terraform-state-tfstate-import.php

Does that cover what you are trying to do?

[2019-01-22 21:18] pryankster commented on #21
I'll add a "me-too" to this issue:  We have an existing Apigee infrastructure (Private EDGE cluster), and I want to import all of the existing settings for products/developers/dev-apps, without having to re-create them manually (especially getting the API keys from Apigee).  I could write a script to do this, but was hoping that I could just import them.

[2019-01-22 23:19] zambien commented on #21
@pryankster could you elaborate on your use case?  Is the link which I posted what you want to do or are you looking for a different import function?  I'm glad to try to help out but want to be sure I'm tackling the correct use case.

[2019-01-22 23:35] zambien commented on #21
@pryankster gotcha, thanks for the info.  I'll put this on my to-do list.

[2019-02-04 18:35] bridgetlane commented on #21
@zambien sorry, just saw this. My use case is the same as @pryankster -- I'd like to use this provider with already existing terraform resources, without having to delete and re-create them. The tutorial you linked is correct, but this provider doesn't support/have an import command built in.

[2019-02-06 16:15] zambien commented on #21
No updates as of yet.  Work has been pretty crazy lately so I'm not sure when I'll have time to look into this.   Would be glad if anyone wants to submit a PR. :)

[2019-03-01 15:43] zricethezav commented on #21
https://github.com/zambien/terraform-provider-apigee/pull/22 @zambien @pryankster got a couple resources successfully importing

[2019-03-15 19:04] zambien commented on #8
Resolved by #24

[2019-03-15 19:04] #8 closed

[2019-03-15 19:05] zambien commented on #21
@bridgetlane @pryankster does this resolve your current needs?

[2019-04-15 11:39] xurxomp opened #28 "Managing multiple proxy deployments not working?"
Hi,

We are trying to use this provider to manage a proxy that has different revisions deployed (revisions with different base paths, so we can have v1 and v2 deployed at the same time).

Starting with an empty Proxy in Apigee, if we create the revisions and deployments using this Apigee Provider, it seems to work fine. But as soon as you try to do something on top of that, the provider gets confu

[2019-10-01 06:36] zkauker opened #32 "Make credentials available on apigee_*_app resources after creation"
Hi All,

I'd like to automate the management of API proxies - including giving access to APIs for contracted partners on a managed way.  When a new contracted partner comes in an `apigee_company` and an `apigee-company-app` resource will be created with a terraform script.

After this process, I'd like to save the created API keys and pass that to the contact person. However, currently the impleme

[2019-10-02 19:00] bostrowski13 opened #33 "Project Status?"
Hi,

Is this project still maintained?  Doesn't look like a lot of activity goes on.  Appreciate any feedback.

[2019-10-02 19:31] zambien commented on #33
@bostrowski13 this is still maintained.  I haven't done much with it recently but I'm going to take a look at the PRs that are out there now.

[2019-10-02 19:33] bostrowski13 commented on #33
ok, great.  thank you for the quick response!

[2019-10-02 19:34] zambien commented on #33
@bostrowski13 is there something specific you are looking for?

[2019-10-02 19:54] bostrowski13 commented on #33
i was looking forward to using this, but the perceived inactivity of it here was alittle conerning.

now that i know that, we'll move forward :)  Code all the things!

[2019-10-02 19:54] zambien commented on #33
gotcha

[2019-10-02 19:54] #33 closed

[2019-10-09 19:16] WeAreGroot opened #34 "Unsupported block type in some resources"
### Terraform Version
Terraform v0.12.10
Apigee download: terraform-provider-apigee_0.0.16_linux_amd64.tar.gz
On AWS Amazon Linux 2

### Affected Resource(s)
Please list the resources as a list, for example:
- apigee_company
- apigee_developer

### Terraform Configuration Files
[code]

### Debug Output
[code]
### Expected Behavior
Successful plan.

### Actual Behavior
What actually happened?
Error

[2019-10-17 19:22] #34 closed

[2019-10-17 19:22] WeAreGroot commented on #34
Nevermind, I forgot to do a upgrade on the script.

[2019-10-31 00:29] WeAreGroot commented on #34
I needed to update my Terraform script to be v.12 compatible.  I just ran `terraform 0.12upgrade` and it fixed those issues for me.

So for TF v.11
[code]

But in TF v.12 the attribute block now needs the = sign:
[code]

[2019-10-31 17:51] tibers opened #35 "Error: [ERROR] resourceTargetServerRead error getting target servers: invalid character '<' looking for beginning of value"
### Terraform Version
[code]

### Affected Resource(s)
- resourceApiProxyCreate
- resourceTargetServerCreate
- resourceDeveloperCreate
- resourceCompanyCreate

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
I rewrote the example just to see if this thing would work at all and... it doesn't.

[

[2019-11-01 15:22] zambien commented on #35
@tibers I'm looking into it.

[2019-11-01 15:51] bostrowski13 commented on #34
Oh man, I can't believe I overlooked that.  Thanks!

[2019-11-01 18:15] zambien commented on #35
@tibers I haven't been able to recreate this.  I'm able to run the tests without issues and am able to create proxies.  I have pulled in a bunch of PRs and made some changes for terraform 12 so could you try the build I just published?

https://github.com/zambien/terraform-provider-apigee/releases/tag/v0.0.17

[2019-11-02 17:52] zambien commented on #32
@zkauker I've used different means to get at credentials.  They've involved a custom implementation of Vault calling Apigee APIs but I don't see a reason this couldn't be included.

I think that by default I would like to not return these credentials as once they are returned they will sit in terraform state pretty much forever but add a flag which allows them to be returned.

Does that sound reas

[2019-11-02 17:55] #21 closed

[2019-11-02 17:56] zambien commented on #28
This is a separate issue from #21.  I had never considered having two proxies deployed at once to the same environment.  Seems like a normal use case so I'll have to look into this more.

[2019-11-02 20:02] zambien commented on #1
fixed by #24

[2019-11-02 20:02] #1 closed

[2019-11-02 20:08] zambien commented on #7
There doesn't seem to be much demand for this and really, it could get quite complicated so I'm closing this.  The original requester no longer needs it.

[2019-11-02 20:08] #7 closed

[2019-11-02 21:21] zambien commented on #28
@xurxomp please see #38

[2019-11-04 16:32] tibers commented on #35
OK. Had to do a lot of unwinding here. 0.0.17 works fine for me.

Is `https://<companyname>.apigee.com/edge` the URI I need to plunk in the provider or should I be leaving it blank? I access my control panel thing through that URL so I am under the impression that I need to put that into the TF which is where I get that error from.

When I comment it out and use the default you provided, I get bac

[2019-11-04 17:10] zambien commented on #35
@tibers you will need to set the base uri based upon your setup with Apigee.  If you are using SaaS (you don't have an on-premises deployment of Apigee) then you only need to fill out the apigee user, apigee org, and apigee pass vars.  Those can be set as terraform tfvars or you could (and should) use a secrets manager to pass them to your code.

Does that help?

[2019-11-04 17:25] tibers commented on #35
OK then I believe the problem is on my end and I was incorrect to override the URL. :) Thanks!

[2019-11-04 17:25] #35 closed

[2019-11-04 20:36] tibers commented on #28
May be related - I am getting back "400 - empty bundle" from the API when I try to `for_each` the proxy. Maybe I'm doing it wrong? I wasn't clear if I was supposed to build an `archive_file` per proxy or not.
[code]

[2019-11-04 21:29] tibers opened #39 "400 Bundle is invalid. Empty bundle"
I thought this was related to Issue #28 but I can reproduce it with the example code without my `for_each` mess.

### Terraform Version
Terraform v0.12.13
+ provider.apigee (unversioned)
+ provider.archive v1.3.0

Apigee provider 0.0.17

### Affected Resource(s)
- api_proxy

### Error text
[code]

### Terraform Configuration Files
Just copypaste the example

### Expected Behavior
Expected proxy fi

[2019-11-05 13:32] zambien commented on #39
@tibers you have to have a bundle defined. The invalid bundle error is coming back from Apigee as the bundle is invalid.

The example assumes you have created a proxy bundle already.  See the `data archive_file` block below:

[code]

Note that the proxy simply uses this bundle:
[code]

If you use the bundle that is under apigee/textfixtures it should work as a test for you:

[code]

For more infor

[2019-11-05 16:38] tibers commented on #39
OK thanks for the clarity. So is there a way to deploy an apiproxy with this module _without_ having to create this godawful xml bundle? Is this an apigee limitation?

[2019-11-05 17:32] zambien commented on #39
Apigee is a powerful tool for writing proxies and doing many other things.  You will need to have some experience with it in order to automate it with this Terraform provider or any other automation tool.

Similar to a lambda function the bundle **is** the proxy as code and yes, this is an Apigee thing.  I would recommend you do some tutorials using Apigee and learn how to write, export, and impor

[2019-11-05 19:13] tibers opened #40 "Error: Provider produced inconsistent result after apply"
Hi there,

### Terraform Version
0.12.12
apigee provider 0.17

### Terraform Configuration Files
Use the examples, but explode a proxy zip into ~/proxy_files

### Expected Behavior
It actually works...

### Actual Behavior
[code]

### Steps to Reproduce
do the hello world code, explode a proxy into the ~/proxy_files dir

### Important Factoids
Note that this is not a new apigee tenancy, this is me

[2019-11-05 19:17] zambien commented on #40
This is fixed in #37 and is the result of changes in how apigee returns results in their API which broke the provider.  I will work on releasing both open PRs into v0.0.18.

[2019-11-05 19:19] zambien commented on #40
When you say:

Note that this is not a new apigee tenancy, this is me trying to bring automation to the existing tenancy.

Can you elaborate on that please?

[2019-11-05 19:21] tibers commented on #40
We have a bunch of manually provisioned stuff and I'm trying to use this terraform module to bring CI/CD to it instead of a bunch of point-and-click administration which has become a headache.

I will close this as you indicated the bug has been squished. :)

[2019-11-05 19:25] zambien commented on #40
Ah OK.  You need to import those resources most probably.  The provider won't import things that exist in Apigee unless you explicitly import them as they aren't there in the terraform state.

I think this is a different issue than the one I referenced.

[2019-11-05 19:25] tibers opened #41 "Error: [ERROR] resourceApiProxyDelete error deleting api_proxy"
### Terraform Version
0.12.12
apigee 0.17

### Affected Resource(s)
resourceApiProxyDelete

### Expected Behavior
`terraform destroy` should delete all the resources.

### Actual Behavior
Terraform cannot destroy `api_proxy`s and will error until they are manually deleted via the UI.

### Steps to Reproduce
1. bring down the hello world code (I changed revision to `latest`)
1. seed it with an expl

[2019-11-05 19:30] tibers commented on #40
I'll open a new bug report if the issue persists in 0.18 I suppose.

[2019-11-05 19:35] zambien commented on #41
The error tells you why it can't undeploy the proxy.  Please take a closer look at the error and do some debugging prior to opening issues.

Error: [ERROR] resourceApiProxyDelete error deleting api_proxy: DELETE https://api.enterprise.apigee.com/v1/o/<org>/apis/joshtest: 400 Can not delete Revision 1 of ApiProxy joshtest in organization <org>. Undeploy the ApiProxy and try again.

Hint: is the org

[2019-11-05 19:54] tibers commented on #41
No, I'm anonymizing my issues. The org is correct, which is how I provisioned this in the first place. :)

[2019-11-05 20:15] zambien commented on #41
Got it.

Can you post the code that caused this issue?  So long as the proxy_deployment references the proxy via resources (and not a hard-coded name) the destruction should occur in the correct order.  It is also important to keep the revision in sync with the terraform code.  If that is updated out of band you will have to make an update in the terraform code or just use "latest".

[2019-11-05 20:21] tibers commented on #41
https://gist.github.com/tibers/374e5b5fb0d907d04ffab3b82266f3fb Thanks for looking into this!

[2019-11-05 21:47] #28 closed

[2019-11-05 21:47] zambien commented on #41
OK, I see an issue.  I think this is an issue with a race condition in the Apigee API where the proxy is undeployed but it really isn't complete so when the proxy delete is issued it fails.  I'm introducing retry logic for the delete.

This used to work without these issues.  Stay tuned.

[2019-11-05 21:58] zambien commented on #41
Fix is out there for this issue.  Thanks for reporting it and sorry for the confusion on my part.

https://github.com/zambien/terraform-provider-apigee/releases/tag/v0.0.18

[2019-11-06 15:43] tibers commented on #41
It looks good. I verify that 0.0.18 doesn't error out anymore on delete.

I did create some resources, and then tried immediately deleting them. I also created some resources, and then I waited 10 minutes, then I deleted them. These didn't produce any errors.  Thanks!

[2019-11-06 15:43] #41 closed

[2019-11-06 15:43] tibers commented on #40
Yeah still happening reliably in 0.0.18

[2019-11-06 15:54] zambien commented on #40
I was able to reproduce this.  I'm not sure how the bug was introduced but I will dig into it.

[2019-11-06 16:00] zambien commented on #40
@tibers  FYI, it will be a few days before I can dig into this due to other priorities.

[2019-11-06 16:19] tibers commented on #40
OK thanks for the heads up. It's not a blocker as it looks like everything is working? I'm not sure what TF is actually complaining about. Maybe I'll even take a shot at it and try to learn some TF under the hood.

[2019-11-06 16:55] zambien commented on #40
Yep, it is working.  I think this has to do with some of the changes for 'latest' a while back which may cause this even if you aren't using 'latest'.  I'm able to reproduce it so once I have some time I can get it resolved but please feel free to look into it.

Writing terraform providers is pretty straightforward but understanding how the tests work is a little... well weird I guess.

[2019-11-07 17:00] bostrowski13 opened #43 "Error after creation of apigee_api_proxy_deployment"
I am experiencing the following error after an apri proxy deployment.  It looks like the proxy deployment completes successfully with all resources being created as expected, but (I suspect) it is an issue with calling "resourceApiProxyDeploymentRead" after the "resourceApiProxyDeploymentCreate" completes.  Given the error, I think it has to do with the type associated with the environment in the

[2019-11-07 17:40] zambien commented on #43
This is the same as #40 .  Closing.

[2019-11-07 17:40] #43 closed

[2019-11-11 14:54] tibers opened #44 "Feature Request: Add Shared Flows"
Terraform is still magical to me even after reading the provider tutorials.

I have tried to implement shared flows here: https://github.com/zambien/terraform-provider-apigee/compare/master...tibers:master

I'm probably pretty close as SharedFlows should act like proxy bundles but when I'm trying to use the existing code I'm getting the following error at compile time:
[code]
The line is the same,

[2019-11-14 03:20] zkauker opened #45 "Unordered proxy names in API products prevent having empty terraform plan"
Hi,

When you query resources from Apigee API the string list properties are not returned in the same order you specify them during creation. If we don't take this into consideration in the resource read operation it might happen that our terraform plan will never be empty.

I'm going to send a PR for this in a few minutes - this should be handled on the same way it happens now with the company re

[2019-11-14 11:46] #45 closed

[2019-11-14 11:46] #44 closed

[2019-11-14 13:12] zkauker commented on #32
@zambien sorry for the late answer. To be honest I wouldn't be too concerned about storing these values in the state file. After all if you use valuts form Terraform in your configurations it's also going to be persisted in the state and plan files. Morover, if you look into other provider implementations they do it pretty much the same way (e.g. GCP provider returns even the generated private key

[2019-11-15 02:52] zkauker opened #48 "Apigee provider is not working in alpine-based docker containers"
Hi there,

I'm working on setting up CI/CD pipeline on Gitlab that uses `hasicorp/terraform:light` docker image to execute terraform configurations. In the `before_script` my pipeline downloads the official release of apigee provider and extracts that into the `~/.terraform.d/plugins/linux_amd64` directory.

`terraform init` succeeds, but `terraform plan` results in what you can see below. If I bu

[2019-11-15 03:40] zambien commented on #48
Oh boy.  Linking with Alpine can be a pain.  Are you certain that by disabling dynamic linking the plugin will function in Alpine?  I have had some experience with this in other repos and sometimes the best solution is to use a multistage build Dockerfile as follows for Alpine:

[code]

The Dockerfile above works so I can PR it in but I'd like your thoughts on this approach vs. the one you recomme

[2019-11-15 03:57] zkauker commented on #48
@zambien I've just sent you a PR and described how I tested that. But if you have concerns with that just let me know, I just wanted to avoid using custom docker images. And I think enabling the provider to work in a lightweight terraform container like official one would be nice!

[2019-11-15 03:58] zambien commented on #48
Sounds good to me.  Released.  Thanks for the contribution!

[2019-11-15 03:58] #48 closed

[2019-11-15 03:58] zkauker commented on #48
awesome, great thanks!

[2019-11-15 04:19] zkauker commented on #48
@zambien just want to confirm that the new release fixed the issue. Thank you much!

[2019-11-19 14:22] tibers opened #50 "Feature Request: Vhosts"
In an effort to facilitate blue/green deployments, it would be useful to be able move around vhosts. This also means when we bump into apigee API weirdness (like the whole retries thing) we can enable users to bump into that on the green deployment side, and once it's all happy, we can move the vhost from blue to green.

I started to beat out the TF code here but I am not good at TF or go:
https:/

[2019-11-21 18:14] bostrowski13 commented on #40
I'm pretty new to Go, but is there anything I can help with here?  Was I correct in the issue I reaised in saying the issue was reading back the info from Reader?   Is this just an issue with conversion from JSON to a Go map?

[2019-11-21 19:27] tibers commented on #40
I also suck at Go - I piddle about with it and then get stuck and then give up. I have an [open feature req](https://github.com/zambien/terraform-provider-apigee/issues/50) if you're bored or brave. The apigee API isn't the best and it's getting overhauled sometime in 2020 per our support contact.

The problem is that `latest` can really be any value, because apigee will accept a proxy bundle and

[2019-12-03 14:00] moredhel opened #52 "Query regarding dependency github.com/zambien/go-apigee-edge"
Hi,

I am looking through your provider and see that you are maintaining a fork of the go-apigee-edge go library which you are using in your provider.

What is the purpose of doing this rather than depending directly on the upstream library?

I'm wanting to extend the underlying library to support additional services within ApiGee.

Alternatively, is there something I can do to help merge the two

[2019-12-11 01:59] jonohill commented on #50
Thanks for making a start with this. We'd love to be able to configure virtualhosts too.
I had a quick look at your code and I can see in go-apigee-edge/virtual_hosts.go you've got some variables with the same name as their type, i.e. `VirtualHost VirtualHost`, so if you change it to `virtualHost VirtualHost` it will compile. I see there's still a bit of work to do on defining the VirtualHost stru

[2019-12-12 16:34] tibers commented on #50
Thanks for the hint!

So a couple of things:
1. I don't remember what the heck I was doing. :)
1. The model which google wants to move to with apigee is that the virtualhost config gets moved into the istio component, which will be the new ingress for the new version of "hybrid apigee" which is coming out in ~6 months or so, which is why this hasn't been pressing.

[2020-01-02 14:56] bostrowski13 commented on #40
happy new year all!  i spent my break learning more go, but i'm honestly not sure where exactly this is breaking yet.  if you can point it out to me and tellme what needs to be fixed i have time and am in need of getting this working.   i'be happy to do a PR.

[2020-01-11 02:43] ericksoen opened #54 "401 unauthorized error running acceptance tests"
I'm interested in contributing and building out test coverage for the current resources. I noticed when I was running acceptance tests that I was getting a fairly high rate of ephemeral, 401 unauthorized errors, i.e., the DELETE method would fail on one iteration and the GET method (via the Read... method invoked after Create) would fail on the next.

I'm on an evaluation account currently, but ap

[2020-01-11 02:57] zambien commented on #52
Hi @moredhel.  I'm not totally sure I understand the question.  I have a fork of go-apigee-edge because my PR to that original repo hasn't been commented on or merged in:  https://github.com/DinoChiesa/go-apigee-edge/pull/4

I haven't merged that library with this plugin because the go-apigee-edge API could be used independently.

Maybe I'm not understanding the question though.  Could you elabora

[2020-01-11 03:04] zambien commented on #54
Hi @ericksoen.   I haven't seen any errors running the acceptance tests.  Which tests are failing?  Could you paste the output of a failure?

I did have to introduce retry logic a little while back as there was to be a delay deleting (Undeploying) the proxy which would cause issues with downstream calls in a few cases (a destroy for example):

https://github.com/zambien/terraform-provider-apigee/c

[2020-01-12 13:09] moredhel commented on #52
Thanks Zambien for the reply. It looks like that repository hasn't made any updates for a while. In that case I'll look into putting together a PR against this repo.

Thanks for clarifying, I would like to merge the two projects again if possible as it will reduce the overhead.

[2020-01-12 13:09] #52 closed

[2020-01-28 20:11] reddy-dilip opened #57 "Provider produced inconsistent final plan - cty.StringVal("")"
Hi There,

**Terraform Version**
Terraform v0.12.20
apigee provider 0.0.21

**Terraform Configuration Files**
Use the examples, but explode a proxy zip into ~/proxy_files

**Expected Behavior**
Create Proxy's,Products,Developers and App's.

**Actual Behavior**
apigee_developer.helloworld_developer: Refreshing state... [id=dfa05cc1-a607-4a63-bedf-6830b4ee1d94]
data.archive_file.bundle: Refreshing s

[2020-02-19 23:11] sairamaj commented on #40
I am using first time apigee provider and this is really great stuff (thank you). I got this issue "Provider produced inconsistent result after apply" when i used  revision = "latest" in **apigee_api_proxy_deployment** . Then i started reading the https://www.terraform.io/docs/extend/terraform-0.12-compatibility.html and trying to understand throgh _terraform plan_ . What I understood is because t

[2020-02-26 14:28] bostrowski13 commented on #57
Pretty sure this is the same as https://github.com/zambien/terraform-provider-apigee/issues/40

[2020-03-23 14:56] bostrowski13 commented on #32
I know its been a while since this was requested, but is there any timeframe for implementation?

[2020-03-26 12:54] zambien commented on #57
Closing as this is a duplicate of #40

[2020-03-26 12:54] #57 closed

[2020-03-26 12:54] zambien commented on #54
Closing due to no response

[2020-03-26 12:54] #54 closed

[2020-03-26 12:58] zambien commented on #50
I haven't had a need to use virtual hosts for blue/green just due to the way we handle deployments.  Although I agree it could be useful.  How are people working around this right now using this provider?  Any input on use cases we should consider?

[2020-03-26 13:01] zambien commented on #32
Thanks for the reminder.  I'll start looking into it.

[2020-04-03 12:41] #40 closed

[2020-04-22 13:06] Sourceless commented on #50
We've been configuring virtual hosts by hand, and have quite a few environments, so it would be nice for us to automate that.

[2020-05-01 21:30] sairamaj opened #62 "apigee_product got struck in "Still creating" during terraform apply"
During terraform apply apigee_product resource gets struck indefinitely . If I go to Apigee portal and see the product, it is created successfully. Did anyone see this behavior?

apigee_product.test_api_product: Still creating... [50s elapsed]
apigee_product.test_api_product: Still creating... [1m0s elapsed]
apigee_product.test_api_product: Still creating... [1m10s elapsed]

versions:
Terraform v0

[2020-05-01 21:46] sairamaj commented on #62
Update on this. It is nothing to do with api_product. If I add couple of resources (in this case I added 2 more shared flows) and now it got struck in shared flow deployment like below

module.test-api-sharedflows.apigee_shared_flow_deployment.access_token_mapper_deployment: Still creating... [1m50s elapsed]
module.test-api-sharedflows.apigee_shared_flow_deployment.fiserv_api_shared_flow_deploymen

[2020-05-02 00:49] sairamaj commented on #62
When I commented this line: https://github.com/zambien/go-apigee-edge/blob/e45257f962621c84bbffd0a371cbd94cab709d6a/apigee_edge.go#L243 things were working as expected.
Is printing to standard output in provider could cause the problem?

[2020-07-23 09:04] PaulRudin opened #64 "Feature request: terraform registry."
With the upcoming terraform 13, it's possible for any provider to be automatically installed when configured if there's an appropriate registry entry.

This would save the need to manually install the provider.

[2020-08-10 10:01] PaulRudin opened #65 "bundle and bundle_sha not set on api_proxy import"
Importing an api_proxy doesn't set the bundle and bundle_sha attributes.

This means that if you do e.g. terraform plan immediately after import, then terraform thinks it needs to create them on the imported resource.

[2020-08-27 10:32] rjw57 commented on #64
I believe the work here is pretty trivial. I think @zambien need only visit https://registry.terraform.io/publish/provider and select this repo. The existing releases are 90% of the way there according to https://www.terraform.io/docs/registry/providers/publishing.html.

[2020-08-27 13:59] #64 closed

[2020-09-04 11:23] ZdenT commented on #57
I think that's not the same as #40. I have the same issue with Terraform 0.13.1 and apigee provider 0.0.23 #40 should be fixed in this release.

[2020-10-12 13:39] robinmeiss commented on #32
Hi Adam,

first thanks for this great work on your plugin.

I have one question to the cred management and an issue we observe chaning to v0.23.

Each app now results in an update in-place action (which afterwards lead to an additional fresh credential in Apigee for the app but still null on credential attribute in terraform state).

[code]

Our terraform resource looks is build with for_each and

[2020-10-13 00:16] zambien commented on #32
@robinmeiss I think this is unrelated to this issue.  Could you open a new issue for this.

When testing 0.0.23 I seem to recall seeing different behavior from the Apigee APIs which may be causing this.  Are you saying that this only started happening when moving from some version (which version?) to 0.0.23? If you could include the full terraform required to recreate the issue in that issue I can

[2020-10-13 14:19] zambien commented on #62
@sairamaj I haven't been able to reproduce this issue.  Are you still seeing a problem?  If so we can reopen the issue.

[2020-10-13 14:19] #62 closed

[2020-10-14 17:15] robinmeiss commented on #32
Yes I will update you with all possible logs off this one. The 0.0.22 Version is working. I think we need some time and preparation to fully reproduce the issues as with upgrading to 0.13 more stuff changed.

[2020-11-30 20:29] twohyjr commented on #40
I am still running into this issue.  What is the fix?  I cannot seem to locate it throughout this thread.

[2021-02-19 11:06] tkonsta commented on #40
Just an additional comment to help people who land here when they google for this problem:

One cause, which can make this error appear, can be that the deployment of a proxy fails because there's some error in the proxy. So a way to find out what's wrong when this error appears in a terraform run, can be to deploy the proxy manually using the Apigee UI and look at what error this gives you.

An e

[2021-03-19 21:28] sudheer-palagiri opened #67 "proxy deployment-fails-"Provider produced inconsistent final plan""
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
hashicorp/terraform:0.12.30
Plugin: terraform-provider-apigee_v0.0.23

### Affected Resource(s)
- A proxy deployment

Error: Provider produced in

[2021-04-26 15:47] zambien opened #68 "Proxy deployment should not fail if revision is already deployed"
currently if a proxy revision is already deployed and an update is made an error will be returned.  Instead of erroring the provider should update state.

[2021-04-26 15:47] zambien opened #69 "developer apps always redeploy"
currently developer apps always show a difference because new creds are generated.  This should not happen.

[2021-04-26 15:48] zambien opened #70 "no-outage proxy deployment results in error"
when deploying with a no-outage proxy deployment, more than one proxy deployment is returned.  This causes an error and the state is not updated.  We should handle this more gracefully.  We can recreate this issue by setting:
[code]
in a proxy deployment.

[2021-04-28 13:27] #67 closed

[2021-04-28 13:27] #68 closed

[2021-04-28 13:28] #69 closed

[2021-04-28 16:32] #70 closed

[2021-04-28 16:38] zambien commented on #65
Importing the bundle sha isn't possible from apigee since apigee knows nothing about it.  This is a value that is set in the terraform state only.  I'm closing this for that reason.

[2021-04-28 16:38] #65 closed

[2021-04-28 16:40] zambien commented on #32
With [v0.0.24](https://github.com/zambien/terraform-provider-apigee/releases/tag/v0.0.24) the plugin returns the last (latest) credential key and consumer key in developer and company apps.  I plan to change this going forward but this should hopefully suffice for now.

[2021-04-28 16:40] #32 closed

[2022-03-14 11:04] swapna0211950 opened #74 "401 Unauthorized error. When trying to create targetServer using terraform."
Hi Team,

We are trying to deploy targetServers to Apigee X env using terraform. But im getting the below error.

Status 401: Message: Unauthorized: on target-server.tf line 1, in resource "apigee_target_server" "example": 1: resource "apigee_target_server" "example"

The Service Account that is used for deployment has Apigee org-admin access. But still this issue is occurring. Any insights on the

[2022-03-29 09:52] #74 closed, assigned to nobody

[2022-08-22 19:45] glorianduka commented on #74
Hi! Were you able to figure out the issue with this error? I am having similar problems and can't seem to find a solution for it

[2022-09-19 16:47] psaini0212 commented on #74
I am getting same!